
body{
    background-color:#212121;
}


img {
    width: 120px;
}

h1{
    color: #14ffec;
    font-weight: 100;
}
h3{
    color: #14ffec;
}

hr{
   border-style: none;
   border-top-style: dotted;
   border-color: #3f3e3e;
   border-width: 6px;
   width: 4%;

}
td{
    color: #0d7377;
}
li{
    color: #0d7377;
}
th{
    color: #0d7377;
}